body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

button{
    border: none;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    background-color: #20a8b4;
}

button:hover{
    background-color: #ff5c0f;
}

header{
    margin-right: -15px;
    margin-top: -15px;
    margin-left: -15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    background-color: #F2F2F2;
}

#span1{
    color: #ff5c0f;
}

#span2{
    color: #ff5c0f;
}

h1{
    padding: 25px;
    color: #20a8b4;
}

.link{
    text-decoration: none;
    color:  #000;

}

.link:hover{
    color: #ff5c0f;
}

ul{
    margin-left: auto;
    padding: 25px;
    
}

li{
    padding: 5px;
    display: inline;
}

#p1{
    font-size:30px;
    color:  #000;
}

#p2{
    font-size: 20px;
    color: #000;
}

#text{
    margin: 0;
    position: absolute;
    top: 50%;
}

#image{
    margin-left: 60%;
    margin-top: 8%;
}

img{
    width: 70%;
    height: 70%;

}