body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #f2f2f2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  
  #headerTitle {
    color: #20a8b4;
  }
  
  #p1{
    font-size: 200%;
  }
  
  #p2{
    font-size: 130%; 
  }
  
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
  }
  
  li {
    padding: 5px 0px 5px 0px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover,
  a:active {
    color: #ff5c0f;
  }
  
  button {
    width: 100%;
    text-align: left;
    border: none;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    background-color: #20a8b4;
  }
  
  .orangeText {
    color: #ff5c0f;
  }
  
  button:hover,
  button:active {
    background-color: #ff5c0f;
  }
  
  #mainBody {
    display: flex;
    justify-content: row;
    align-items: center;
    padding: 12px;
  }
  #mainText {
    flex: 1;
  }
  
  #image {
    display: none;
  }
  
  @media (min-width: 768px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    ul {
      flex-direction: row;
      align-items: center;
    }
  
    li {
      padding: 0px 5px 0px 5px;
    }
  
    #image {
      display: flex;
      flex: 1;
      }
  
    button {
      width: auto;
    }
  
  }